/**
 * Copyright: 2022 (c)Franco (nextime) Lanza <franco@nexlab.it>
 * License: GNU/GPL version 3.0
 *
 * This file is part of SexHackMe Wordpress Plugin.
 *
 * SexHackMe Wordpress Plugin is free software: you can redistribute it and/or modify it 
 * under the terms of the GNU General Public License as published 
 * by the Free Software Foundation, either version 3 of the License, 
 * or (at your option) any later version.
 *
 * SexHackMe Wordpress Plugin is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License 
 * along with SexHackMe Wordpress Plugin. If not, see <https://www.gnu.org/licenses/>.
 */

.focus {
   outline:0px !important;
   -webkit-appearance:none;
   --swiper-theme-color:#000000 !important;
}

.storefront-handheld-footer-bar {
	display: none;
}


.handheld-navigation {
   background-color: #1f1e1e;
   border-radius: 10px;

}

.handheld-navigation li a {
   padding-left: 10px !important;
   padding-right: 10px !important;
   margin-bottom: 2px;
   margin-right: 0px;
   border-radius: 5px;
   background-color: #080808;
   margin-left: 0px;
}

li.sh_signupmenu a {
   background-color: #801939;
   border-radius: 20px 20px 20px 20px;
}

li.sh_signupmenu a:after {
	content: " Free!";
	background-color: yellow;
	color: red;
	font-weight: bold;
	font-size: 0.7em;
	padding: 2px;
	border-radius: 10px;
}

li.sh_freememberacc a {
	background-color: #801939;
	border-radius: 20px 20px 20px 20px;
}

li.sh_freememberacc a:after {
	content: " Subscribe!";
   background-color: yellow;
   color: red;
   font-weight: bold;
   font-size: 0.5em;
   padding: 2px;
   border-radius: 10px;

}


li.current_page_item {
	border-bottom: 2px solid #ffffff !important;
}

.shm-side-by-side {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	height: 50px;
}

#shm-socials-centered {
	text-align:center;
}

.sh_adv_hide {
   line-height: 0.8;
   margin: 0 0 0 0 ;
   font-size: 12px;
   color:#a8a8a8;
   padding-bottom: 6px;
}

.home.page:not(.page-template-template-homepage) .site-header {
   margin-bottom: 0em;
} 

.woocommerce-MyAccount-navigation ul li .is-active {
   border: 10px solid #F3856b !important;
}

#pms-paygates-inner input:checked + span {
	box-shadow: 0 10px 25px 0 #F3856b !important;
}

@media screen and (min-width: 768px) {

    .site-header .secondary-navigation {
      margin-right: 0 !important;
      margin: 0 0 0 0 !important;
    }

    .site-header-cart .cart-contents {
      padding: 1px;
      padding-top: 10px;
    }

    .page h1.entry-title {
      display: none;
    }

    .woocommerce-products-header__title {
      display: none;
    }

    .col-full {
      max-width: 85em;
    }

    .storefront-breadcrumb {
		padding: 0.5em 0em;
		margin: 0 0 0.7em;
    }

    .site-branding {
		margin-bottom: 0em;
	 }

    .secondary-navigation a {
       padding: 0.6em 0.2em !important;
    }

    .secondary-navigation .menu {
       float: left !important;
    }

	 .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
			padding: 0.4em 0.5em;
    }

    .main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, .site-header ul.menu li.current-menu-item > a {
		color: #f3856b;
    }

    .storefront-primary-navigation {
      display: none !important;
    }

    .site-header {
       padding-top: 0.2em;
    }

    .woocommerce-active .site-header .main-navigation {
         width: 100%;
     }
   
    a:focus, button:focus, .button.alt:focus  {
      outline-color: transparent;
   }
   /* a:focus, button:focus, .button.alt:focus  
      * , input:focus, 
       * textarea:focus, 
       * input[type="button"]:focus, 
       * input[type="reset"]:focus, 
       * input[type="submit"]:focus, 
       * input[type="email"]:focus, 
       * input[type="tel"]:focus, 
       * input[type="url"]:focus, 
       * input[type="password"]:focus, 
       * input[type="search"]:focus  {
    outline-color: transparent;
 } */

}

@media screen and (min-width: 1024px) {
   .secondary-navigation .menu {
      font-size: 1.2em !important;
   }
}
@media screen and (max-width: 767px) {
	.advbottom {
		display:none;
	}

   .site-header {
		padding-top: 0.2em;
      padding-bottom: 0.2em;
   }
    button.menu-toggle {
      padding-top: 35px;
		border-radius: 8px 8px 8px 8px;
		margin-top: 1px;
		margin-right: 2px;
   }  
	
	.handheld-navigation ul.menu li {
		font-size: 1.5em;
		line-height: 0.3em;
	}

	li.sh_signupmenu a {
		border-radius: 10px 10px 10px 10px;
	}

   button.menu-toggle::before {
      transform: translateY(-8px);
   }

   button.menu-toggle::after {
      transform: translateY(8px);
   }

   h1.entry-title {
      font-size:1.8em;
      font-weight: 400;
   }

   button.menu-toggle::before, 
   button.menu-toggle::after, 
   button.menu-toggle span::before {
      width: 23px;
      height: 4px;
   }

   .handheld-navigation ul.menu li.current-menu-item > a {
      font-weight:500;
      color:#ad8a8a !important;
      text-shadow: 3px -3px #c0545496;
   }


}
