/**
 * Copyright: 2022 (c)Franco (nextime) Lanza <franco@nexlab.it>
 * License: GNU/GPL version 3.0
 *
 * This file is part of SexHackMe Wordpress Plugin.
 *
 * SexHackMe Wordpress Plugin is free software: you can redistribute it and/or modify it 
 * under the terms of the GNU General Public License as published 
 * by the Free Software Foundation, either version 3 of the License, 
 * or (at your option) any later version.
 *
 * SexHackMe Wordpress Plugin is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License 
 * along with SexHackMe Wordpress Plugin. If not, see <https://www.gnu.org/licenses/>.
 */

@media screen and (min-width: 768px) {

    .storefront-breadcrumb {
		padding: 0.5em 0em;
		margin: 0 0 0.7em;
    }


	 .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
			padding: 0.4em 0.5em;
    }
    .site-header {
       padding-top: 0.3em;
    }

    .woocommerce-active .site-header .main-navigation {
         width: 100%;
     }
   
    a:focus, button:focus, .button.alt:focus  {
      outline-color: transparent;
   }
   /* a:focus, button:focus, .button.alt:focus  
      * , input:focus, 
       * textarea:focus, 
       * input[type="button"]:focus, 
       * input[type="reset"]:focus, 
       * input[type="submit"]:focus, 
       * input[type="email"]:focus, 
       * input[type="tel"]:focus, 
       * input[type="url"]:focus, 
       * input[type="password"]:focus, 
       * input[type="search"]:focus  {
    outline-color: transparent;
 } */

}

