/**
 * Copyright: 2022 (c)Franco (nextime) Lanza <franco@nexlab.it>
 * License: GNU/GPL version 3.0
 *
 * This file is part of SexHackMe Wordpress Plugin.
 *
 * SexHackMe Wordpress Plugin is free software: you can redistribute it and/or modify it 
 * under the terms of the GNU General Public License as published 
 * by the Free Software Foundation, either version 3 of the License, 
 * or (at your option) any later version.
 *
 * SexHackMe Wordpress Plugin is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License 
 * along with SexHackMe Wordpress Plugin. If not, see <https://www.gnu.org/licenses/>.
 */

.shm-side-by-side {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	height: 50px;
}

#shm-socials-centered {
	text-align:center;
}


.home.page:not(.page-template-template-homepage) .site-header {
   margin-bottom: 0em;
} 

.woocommerce-MyAccount-navigation ul li .is-active {
   border: 10px solid #F3856b !important;
}

#pms-paygates-inner input:checked + span {
	box-shadow: 0 10px 25px 0 #F3856b !important;
}

@media screen and (min-width: 768px) {

    .site-header-cart .cart-contents {
      padding: 1px;
      padding-top: 10px;
    }

    .page h1.entry-title {
      display: none;
    }

    .woocommerce-products-header__title {
      display: none;
    }

    .col-full {
      max-width: 85em;
    }

    .storefront-breadcrumb {
		padding: 0.5em 0em;
		margin: 0 0 0.7em;
    }

    .site-branding {
		margin-bottom: 0em;
	 }

    .secondary-navigation a {
       padding: 1em 0.2em !important;
    }

    .secondary-navigation .menu {
       float: left !important;
    }

	 .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
			padding: 0.4em 0.5em;
    }

    .main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, .site-header ul.menu li.current-menu-item > a {
		color: #f3856b;
    }

    .storefront-primary-navigation {
      display: none !important;
    }

    .site-header {
       padding-top: 0.2em;
    }

    .woocommerce-active .site-header .main-navigation {
         width: 100%;
     }
   
    a:focus, button:focus, .button.alt:focus  {
      outline-color: transparent;
   }
   /* a:focus, button:focus, .button.alt:focus  
      * , input:focus, 
       * textarea:focus, 
       * input[type="button"]:focus, 
       * input[type="reset"]:focus, 
       * input[type="submit"]:focus, 
       * input[type="email"]:focus, 
       * input[type="tel"]:focus, 
       * input[type="url"]:focus, 
       * input[type="password"]:focus, 
       * input[type="search"]:focus  {
    outline-color: transparent;
 } */

}

@media screen and (min-width: 1024px) {
   .secondary-navigation .menu {
      font-size: 1.2em !important;
   }
}
@media screen and (max-width: 767px) {
	.advbottom {
		display:none;
	}

   .site-header {
		padding-top: 0.2em;
      padding-bottom: 0.2em;
   }
}
